html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: #FFF; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 0;
    padding: 20px; 
    background-size: 100%;
}

#weather {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}

a {
    text-decoration: none;
    color: #fff;
}

#weather h3 {
    color: #FFF; 
    line-height: 2; 
    margin: 10px 0; 
}

#picture {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 8px 8px white inset;
    border-radius: 50%;
}

#reloadButton {
    margin-top: 20px;
    text-align: center;
}

#reloadButton button {
    background-color: rgba(199, 28, 28, 0.8);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1em 10em;
    border: 20px;
    border-radius: 10%;
}

#reloadButton button:hover {
    background-color: rgba(54, 52, 52, 0.9);
}


